# Database
DATABASE_URL="postgresql://user:password@host:5432/pnbp_bdi_makassar?schema=public"
DIRECT_URL="postgresql://user:password@host:5432/pnbp_bdi_makassar?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# App
NEXT_PUBLIC_APP_NAME="Sistem Informasi PNBP BDI Makassar"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_DESCRIPTION="Sistem Informasi Penerimaan Negara Bukan Pajak Balai Diklat Industri Makassar"
